<%= render "shared/navbar" %>
<div class="most-active">
	<div class="container-fluid">
		<div class="row">
			<% @allartworks.each do |artwork| %>
				<div class="col-md-2">
					<div class="panel panel-default">
  						<div class="panel-body">
  							<div class="title_box">
								<i><%= link_to(artwork.name, artwork_path(artwork)) %></i> (<%= artwork.year %>),
								by <%= link_to(artwork.author.name, author_path(artwork.author)) %>
								<p>
									<%= rand(10.0...30).round(2) %>€ (+<%= rand(0.0...5).round(2) %>%)
								</p>
							</div>
							<div class="image_box">
								<img src="<%= artwork.image_url %>">
							</div>
						</div>
					</div>
				</div>
			<% end %>	
		</div>
	</div>
</div>

