<%= render "shared/navbar" %>
<div class="most-active">
	<div class="container-fluid">
		<div class="row">
			<% @offerings.each do |artwork| %>
				<div class="col-md-3">
					<div class="panel panel-default">
  						<div class="panel-body">
  							<div class="title_box">
								<p>
									<i><%= link_to(artwork.name, artwork_path(artwork)) %></i> (<%= artwork.year %>),
								by <%= link_to(artwork.author.name, author_path(artwork.author)) %>
								</p>
								<p>
									<h2>Valuation <%= artwork.ipo_price * artwork.outstanding_shares / 1000000%>M€</h2>
								</p>
							</div>
							<div class="image_show_offering">
								<img src="<%= artwork.image_url %>">
							</div>
							<br>
							<div>
								<p>
									<%= artwork.ipo_eur_subscribed.round(3) %>M€ ( <%= artwork.ipo_percentage_subscribed.round(3) %> % FUNDED)
								</p>
							</div>
							<div class="progress">
							  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%= artwork.ipo_percentage_subscribed.round(3) %>%">
							    <span class="sr-only">40% Complete (success)</span>
							  </div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<button><%= link_to("Place order", artwork_path(artwork)) %></button>
								</div>
								<div class="col-md-6">
									<span>30 days remaining</span>
								</div>

							</div>
						</div>
					</div>
				</div>
			<% end %>	
		</div>
	</div>
</div>

