<div class="container-fluid">

		<div class="row">
			<%= render "shared/leftmenu" %>
			<div class="col-md-2">
				<div class="panel panel-default">
					<div class="panel-heading">
	  						<h3 class="panel-title">
	  							Realized
	  						</h3>
  					</div>
					<div class="align_center">
						<h5>P&L</h5>
						<%= current_user.sum_portfolio_pl - current_user.sum_portfolio_unrealizedpl %>€
						<h5>Return</h5>
						<%= ((current_user.sum_portfolio_pl - current_user.sum_portfolio_unrealizedpl)/(current_user.suminvestment_total - current_user.suminvestment_activeportfolio)* 100).round(2) %>%
	  				</div>
  				</div>
  				<div class="panel panel-default">
					<div class="panel-heading">
	  						<h3 class="panel-title">
	  							Unrealized
	  						</h3>
  					</div>
					<div class="align_center">
						<h5>P&L</h5>
						<%= current_user.sum_portfolio_unrealizedpl %>€
						<h5>Return</h5>
						<%=  ((current_user.sum_portfolio_unrealizedpl / current_user.suminvestment_activeportfolio) * 100).round(2) %>%
	  				</div>
  				</div>
  				<div class="panel panel-default">
					<div class="panel-heading">
	  						<h3 class="panel-title">
	  							Total
	  						</h3>
  					</div>
					<div class="align_center">
						<h5>P&L</h5>
						<%= current_user.sum_portfolio_pl %>€
						<h5>Return</h5>
						<%= ((current_user.sum_portfolio_pl / current_user.suminvestment_total)*100).round(2) %>%	
	  				</div>
  				</div>
			</div>
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">
	  						<h3 class="panel-title">Portfolio overview
	  						</h3>
  					</div>
				<div class="row">
					<div class="col-md-3 align_center">
						<h5>Artwork</h5>
					</div>
					<div class="col-md-1 align_center">
						<h5>Shares</h5>
					</div>
					<div class="col-md-2 align_center">
						<h5>Historic price</h5>
					</div>
					<div class="col-md-2 align_center">
						<h5>Last price</h5>
					</div>
					<div class="col-md-2 align_center">
						<h5>Unrealized P/L</h5>
					</div>
					<div class="col-md-2 align_center">
						<h5>Return</h5>
					</div>
				</div>
				<% current_user.get_portfolio.each do |ticket| %>
					<% unless ticket[1] == 0 %>
					<div class="row">
							<div class="col-md-3 align_center">
								<%= link_to(ticket[0].name, artwork_path(ticket[0])) %>
							</div>
							<div class="col-md-1 align_center">
								<%= ticket[1] %>
							</div>
							<div class="col-md-2 align_center">
								<%= ticket[2].to_f.round(2) %>€
							</div>
							<div class="col-md-2 align_center">
								<%= ticket[0].last_price %>€
							</div>
							<div class="col-md-2 align_center">
								<%= ((ticket[0].last_price.to_f - ticket[2].to_f) * ticket[1].to_f) %>€
							</div>
							<div class="col-md-2 align_center">
								<%= ((ticket[0].last_price.to_f - ticket[2].to_f)/ticket[2].to_f*100).round(2) %>%
							</div>
						</div>
						<% end %>	
					<% end %>
					</div>
				</div>
		</div>
</div>