<div class="container-fluid">
	<div class="row">
		<%= render "shared/leftmenu" %>
		<div class="col-md-10">
			<div class="panel panel-default">
					<div class="panel-heading">
	  					<h3 class="panel-title">Your orders
	  					</h3>
  					</div>
				<div class="row">
					<div class="col-md-1 align_center">
						<h5>Order</h5>
					</div>
					<div class="col-md-1 align_center">
						<h5>Side</h5>
					</div>
					<div class="col-md-2 align_center">
						<h5>Artwork</h5>
					</div>
					<div class="col-md-1 align_center">
						<h5>Shares</h5>
					</div>
					<div class="col-md-1 align_center">
						<h5>Price</h5>
					</div>
					<div class="col-md-2 align_center">
						<h5>Executed price</h5>
					</div>
					<div class="col-md-2 align_center">
						<h5>Created/Modified</h5>
					</div>
					<div class="col-md-2 align_center">
						<h5>Actions</h5>
					</div>
					
				</div>
				<% current_user.orders.each do |order| %>
					<% if order.artwork.status == "Trading" %>
					<div class="row">
						<div class="col-md-1 align_center">
							<%= order.status %>
						</div>
						<div class="col-md-1 align_center">
							<%= order.side %>
						</div>
						<div class="col-md-2 align_center">
							<%= link_to(order.artwork.name, artwork_path(order.artwork)) %>
						</div>
						<div class="col-md-1 align_center">
							<%= order.shares %>
						</div>
						<div class="col-md-1 align_center">
							<%= order.price %>
						</div>
						<div class="col-md-2 align_center">
							<% if order.execution_price != nil %>
								<%= order.execution_price %>
							<% elsif order.status == "Expired" %>
								Expired
							<% else %>
								<%= "Still alive" %>
							<% end %>
						</div>
						<div class="col-md-2 align_center">
							<%= order.updated_at.strftime("%d/%m/%y (%T)") %>
						</div>
						<div class="col-md-2 align_center">
							<% if order.status != ("Executed" || "Canceled") %>
							<button>Modify</button><button>Cancel</button>
							<% end %>
						</div>
					</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>