<div class="container-fluid">
	<div class="row">
		<%= render "shared/leftmenu" %>
		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Your orders
					</h3>
				</div>
				<table class="table table-striped custab">
					<thead>
						<tr>
							<th class="text-center">Order</th>
							<th class="text-center">Side</th>
							<th class="text-center">Artwork</th>
							<th class="text-center">Shares</th>
							<th class="text-center">Price</th>
							<th class="text-center">Executed price</th>
							<th class="text-center">Created/Modified</th>
							<th class="text-center">Actions</th>
						</tr>
					</thead>
					<% current_user.orders.each do |order| %>
					<% if order.artwork.status == "Trading" %>
					<tr>
						<td class="text-center"><% if order.status == "Limit"%>
							<span class="label label-warning">Pending</span>
							<% elsif order.status == "Executed" %>
							<span class="label label-success"><%= order.status %></span>
							<% elsif order.status == "Canceled" %>
							<td><span class="label label-important"><%= order.status %></span></td>
							<% elsif order.status == "Expired" %>
							<td><span class="label"><%= order.status %></span></td>
							<% end %>
						</td>
						<td class="text-center"><%= order.side %></td>
						<td class="text-center"><%= link_to(order.artwork.name, artwork_path(order.artwork)) %></td>
						<% if order.side == "Buy" %>
						<td class="text-center">+<%= order.shares %></td>
						<% elsif order.side == "Sell" %>
						<td class="text-center">-<%= order.shares %></td>
						<% end %>
						
						<td class="text-center"><%= order.price %>€</td>
						<td class="text-center"><% if order.execution_price != nil %>
							<%= order.execution_price %>€
						<% end %></td>
						<td class="text-center"><%= order.updated_at.strftime("%d/%m/%y (%T)") %></td>
						<td class="text-center"><% if order.status != ("Executed" || "Canceled") %>
							<%= button_to 'Edit', edit_artwork_order_path(order.artwork, order), :class=> "btn btn-info btn-xs", method: :get %>
							<%= button_to 'Cancel', artwork_order_path(order.artwork, order), :data => { :confirm => 'Confirm?' }, :class=> "btn btn-danger btn-xs",  method: :delete %>
						<% end %></td>
					</tr>
					<% end %>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</div>