<div class="col-md-2">
					<div class="panel panel-default">
						<div class="panel-heading">
	  						<h3 class="panel-title">Your account menu
	  						</h3>
  						</div>
  						<div class="panel-body">
							<p>
								Art Market overview
							</p>
							<p>
								<%= link_to("Your portfolio", profile_portfolio_path) %>
							</p>
							<p>
								<%= link_to("Trading orders", profile_tradingorders_path) %>
							</p>
							<p>
								<%= link_to("Offering orders", profile_offeringorders_path) %>
							</p>
							<p>
								<%= link_to("Deposit funds", profile_deposit_path) %>
							</p>
							<p>
								<%= link_to("Withdraw funds", profile_withdraw_path) %>
							</p>
						</div>
					</div>
				</div>