<%= form_for [@artwork, @order] do |f| %>
	<div class="row">
		<div class="col-md-7">
			<%= f.hidden_field :side, :value => "Buy" %>
			<%= f.hidden_field :status, :value => "Offering" %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.label :shares %>
			<%= f.number_field :shares, max: 1000000, min:0 %>
		</div>
		<div class="col-md-4">
			<%= f.submit "Place order" %>
		</div>
	</div>
<% end %>