<div class="container-fluid">
		<div class="row">
				<div class="col-md-12">
							<div class="row">
								<div class="col-md-3">
									<div class="panel panel-default">
  														<div class="panel-heading">
  															<h3 class="panel-title">Artwork overview</h3>
  														</div>
  														<div class="panel-body">
  															<div class="text-justify">
									<%= @artwork.description %>
									</div>
  														</div>
									
									
									
									
									</div>
								</div>
								<div class="col-md-3">
									<div class="panel panel-default">
  														<div class="panel-heading">
  															<h3 class="panel-title"><%= link_to(@artwork.name, artwork_path(@artwork)) %> (<%= @artwork.year %>), by <%= link_to(@artwork.author.name, author_path(@artwork.author)) %></h3>
  														</div>
  														<div class="panel-body image_show_box">

										<img src="<%= @artwork.image_url %>">
										</div>
									</div>
								</div>
								<div class="col-md-6">
  											<div class="row">
  												<div class="col-md-6">
  													<div class="panel panel-default">
  														<div class="panel-heading">
  															<h3 class="panel-title">Financial information</h3>
  														</div>
  														<div class="panel-body">
				  											<p>
				  												Shares Outstanding: <%= @artwork.outstanding_shares %>
				  											</p>
				  											<p>
				  												Market cap: €<%= (@artwork.outstanding_shares * @artwork.last_price / 1000000).round(2) %>mn
				  											</p>
				  											<p>
				  												Today's volume : <%= @artwork.day_volume %> shares
				  											</p>
				  											<p>
				  												Average volume: 1,884 shares
				  											</p>
				  										</div>
				  									</div>
  												</div>
  												<div class="col-md-6">
		  											<div class="panel panel-default">
		  												<div class="panel-heading">
  															<h3 class="panel-title">Chart</h3>
  														</div>
  														<div class="panel-body">
  															<div class="row">
  																													<div class="row">
  <div class="col-md-12">
    <%= area_chart @artwork.tickets.group_by_hour(:created_at).maximum(:price) %>
  </div>
</div>
				  											</div>
				  										</div>
				  									</div>
  												</div>
  											</div>
  											<div class="row">
  												<div class="col-md-12">
  													<div class="panel panel-default">
  														<div class="panel-heading">
  															<h3 class="panel-title">Place an order</h3>
  														</div>
	  														<div class="panel-body">
	  															<div class="row">
	  																<div class="col-md-12 align_center">
	  																	<label>
    																		<input type="radio" name="opciones" id="opciones_1" value="opcion_1" checked>
    																		Limited order
  																		</label>
  																		<label>
    																		<input type="radio" name="opciones" id="opciones_1" value="opcion_1">
    																		Market order
  																		</label>
																	</div>
	  															</div>
	  															<br>
	  															<div class="row">
	  																<div class="col-md-12">
	  																<%= render "shared/limited_order" %>
																	</div>
	  															</div>
															</div>

  										
  													</div>
  												</div>
  						
  										</div>
  										<div class="row">
											<div class="col-md-12">
												<div class="panel panel-default">
														<div class="panel-heading">
														<div class="row">
															<div class="col-md-6">
																Last price: <%= @artwork.last_price.round(2) %>€ (<%= @artwork.percentage_change_since_ipo.round(2) %>%)
															</div>
															<% if @artwork.max_day.first != nil %>
																<div class="col-md-2">
																Open: <%= @artwork.ipo_price.round(2) %>€ 
																</div>
																<div class="col-md-2">
																Max: <%= @artwork.max_day.first.price.round(2) %>€ 
																</div>
																<div class="col-md-2">
																Min: <%= @artwork.min_day.first.price.round(2) %>€ 
																</div>
															<% end %>
														</div>
													</div>
												</div>
											</div>
  										</div>
		  											<div class="row">
		  												<div class="col-md-3">
			  												<div class="panel panel-default">
			  													<div class="panel-heading">
  															<h3 class="panel-title">BID (size)</h3>
  																</div>
						  										<div class="panel-body">
						  											<div class="row">
		  																<div class="col-md-3 col-md-offset-1">
									  											<% @artwork.get_3_bids.each do |bid| %>
									  											<p>
									  												<%= bid %>
									  											</p>
									  											<% end %>
						  												</div>
						  												<div class="col-md-7 col-md-offset-1">
									  											<% @artwork.count_bid_shares.each do |shares| %>
									  											<p>
									  												(x<%= shares %>)
									  											</p>
									  											<% end %>
						  												</div>
						  											</div>
						  										</div>
						  									</div>
					  									</div>
					  									<div class="col-md-3">
			  												<div class="panel panel-default">
			  													<div class="panel-heading">
  																	<h3 class="panel-title">OFFER (size)</h3>
  																</div>
						  										<div class="panel-body">
						  											<div class="row">
		  																<div class="col-md-3 col-md-offset-1">
										  											<% @artwork.get_3_offers.each do |offer| %>
										  											<p>
										  												<%= offer %>
										  											</p>
										  											<% end %>
						  												</div>
						  												<div class="col-md-7 col-md-offset-1">
									  											<% @artwork.count_offer_shares.each do |shares| %>
									  											<p>
									  												(x<%= shares %>)
									  											</p>
									  											<% end %>
						  												</div>
						  											</div>
						  										</div>
					  										</div>
		  												</div>
		  												<div class="col-md-6">
			  												<div class="panel panel-default">
			  													<div class="panel-heading">
  																	<h3 class="panel-title">Last transactions</h3>
  																</div>
						  										<div class="panel-body">
						  											<div class="row">
		  																<div class="col-md-3 col-md-offset-1">
								  											<% @tickets.each do |ticket| %>
								  											<p>
								  												<%= ticket.price %>
								  											</p>
								  											<% end %>
						  												</div>
						  												<div class="col-md-3">
								  											<% @tickets.each do |ticket| %>
								  											<p>
								  												(x<%= ticket.shares %>)
								  											</p>
								  											<% end %>
						  												</div>
						  												<div class="col-md-3 ">
								  											<% @tickets.each do |ticket| %>
								  											<p>
								  												<%= ticket.created_at.strftime("%T") %>
								  											</p>
								  											<% end %>
						  												</div>
						  											</div>
						  										</div>
					  										</div>
		  												</div>
		  											</div>
		  									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>



