 <div class="login-container">
  <div id="output">hola</div>
    <div class="avatar"></div>
      <div class="form-box">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br>
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %><br>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

            <% if devise_mapping.rememberable? -%>
            <div class="row">
              <div class="field">
                <div class="col-md-4">
                <%= f.check_box :remember_me %>
                </div>
                 <div class="col-md-8">
                <%= f.label :remember_me %>
             </div>
              </div>
            </div>
            <% end -%>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>
        </div>
        </div>       
</div>
</div>

<%= render "devise/shared/links" %>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>

<script>

</script>
