<div class="most-active">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default ">
					<div class="panel-body">
				<ul class="nav nav-pills">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Género<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<% @categories.each do |category| %>
							<li><%= link_to(category.name, category_path(category))%></li>
							<% end %>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorías<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<% @categories.each do |category| %>
							<li><%= link_to(category.name, category_path(category))%></li>
							<% end %>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Uso<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<% @categories.each do |category| %>
							<li><%= link_to(category.name, category_path(category))%></li>
							<% end %>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Precio<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<% @categories.each do |category| %>
							<li><%= link_to(category.name, category_path(category))%></li>
							<% end %>
						</ul>
					</li>
				</ul>
			</div>
			</div>
			</div>
		</div>
		<div class="row">
			<% @products.each do |product| %>
			<div class="col-md-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="image_box">
							<img class="img-responsive" src="<%= product.image %>" alt="<%= product.name %> (<%= product.brand %>)" data-toggle="modal" data-target="#myModal">
						</div>
						<div class="text_center description_field">
							<% if Condition.find_by(id: product.condition_id).name == "Usado" %>
							<span class="status-product label label-default"><%= Condition.find_by(id: product.condition_id).name %></span>
							<% elsif Condition.find_by(id: product.condition_id).name == "Nuevo con etiqueta" %>
							<span class="status-product label label-success"><%= Condition.find_by(id: product.condition_id).name %></span>
							<% elsif Condition.find_by(id: product.condition_id).name == "Nuevo sin etiqueta" %>
							<span class="status-product label label-info"><%= Condition.find_by(id: product.condition_id).name %></span>
							<% end %>
						</div>
						<div class="text_center">
							<b><%= product.brand %></b> | Talla: <b><%= product.size %></b>
						</div>
						<div class="margin_bottom">
							<div class="row">
								<div class="col-md-6 no_padding_right">
									<%= button_to "Ver más",product_path(product), :class=> "boton btn btn-warning btn-outline text_bold", method: :get %>
								</div>
								<div class="col-md-6 no_padding_left">
									<% if (product.user != current_user) && (product.vendido == "No") %>
										<% if (Chat.find_by(buyer_id: current_user.id, seller_id: product.user.id, product_id: product)) %>
										<%= button_to "#{product.price}€",product_chat_path(product, (Chat.find_by(buyer_id: current_user, seller_id: product.user, product_id: product))), :class=> "boton btn btn-success btn-outline text_bold", method: :get %>
										<% else %>
										<%= button_to "#{product.price}€",new_product_chat_path(product), :class=> "boton btn btn-success btn-outline text_bold", method: :get %>
										<% end %>
										<% end %>
								</div>
							</div>
							
							
						</div>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Im the awesome cat!</h4>
			</div>
			<div class="modal-body">
				<img class="img-responsive" src="http://lorempixel.com/600/400/cats/?42" alt="The awesome description">
			</div>
		</div>
	</div>
</div>
</div>
<script>
	
$(".image_box img").click(function(event) {
var src = ($(event.target).attr("src"))
var alt = ($(event.target).attr("alt"))
$(".modal-body img").attr("src",src)
$(".modal-body img").attr("alt",alt)
$("#myModalLabel").text(alt)
});
</script>